<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="NPOI" version="2.4.1" targetFramework="net452" />
  <package id="SharpSvn.1.9-x86" version="1.9007.3987.251" targetFramework="net452" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net452" />
</packages>
